.container {
  position: relative;
  padding: 20px;
  top: 70px;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
}

.container__cards {
  overflow: auto;
  max-height: 75vh;
  width: 100%;
}